@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-mouseHover::before {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}
.bg-mouseHover::after {
  background: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6),
    transparent 50%
  );
}
.bg-mouseHoverBlur::before {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 0, 187, 0.1),
    transparent 40%
  );
}
.bg-mouseHoverBlur::after {
  background: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 0, 187, 0.1),
    rgba(0, 144, 193, 0.1),
    transparent 50%
  );
}

.one-px-margin {
  margin: 1px;
}

.translateZ {
  transform: translateZ(40px);

}